.screen {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    padding: 0.25em;
    overflow-y: scroll;
}

.footer {
    padding: 0.5em;
    border-top: 1px solid black;
    background-color: aliceblue;
}